th{
    text-align: center;
}
th[onclick]{
    cursor: pointer;
}
th[onclick]:hover{
    text-decoration: underline;
}
nav *{
    cursor: pointer;
}
.alert{
    width: 90%;
    margin: auto;
}
#loading{
    position: fixed;
    top: 40%;
    width: 100%;
    text-align: center;
    z-index: 1000;
    display: none;
}
#loading img{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    padding: 3em 6em;
}
